:root {
  --primary: #49497e;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", sans-serif;
  width: 100%;
  min-height: 100vh;
}

/* Navbar Section */
.navbar {
background: #49497e;
position: absolute;
top: 0;
left: 0;
display: flex;
width: 100%;
justify-content: center;
padding: 20px;
}

.active {
text-decoration: underline;
font-weight: bold;
}

.nav-link{
margin: 0 30px;
}


/* Title */
.Team{
  margin-top: 100px;
}

.Team-title{
  color: #49497e;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.Team-line{
  width: 150px;
  height: 4px;
  background: #fc036b;
  border-color: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
}

.Sub-title{
  color: #7C7C7C;
  font-size: 1rem;
  margin: 30px 0px 0px;
  text-align: center;
}

.card {
  margin: 50px auto 30px;
  width: 300px;
  height: 600px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  object-fit: cover;
}

.card__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 20px;
}

/*footer*/
.footer {
  width: 100%;
  min-height: 90px;
  padding: 20px 80px;
  margin-top: 10px;
  background: #484872;
  text-align: center;
}
.footer p {
  color: whitesmoke;
  margin: 10px auto;
  font-size: 20px;
}

.socialMedia{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  transition: 0.5s;
}

.sci{
  position: relative;
  display: flex;
}

.sci li{
  list-style: none;
}

.sci li a{
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  background:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#333;
  border-radius: 10px;
  text-decoration: none;
  margin:auto 20px;
  font-size: 2em;
  transform-style: preserve-3d;
  perspective:500px;
  box-shadow: 0 25px 35px rgba(0,0,0,0.1);
}

.sci li a:hover.facebook{
  background:#1877f2;
}
.sci li a:hover.twitter{
  background:#0099ff;
}
.sci li a:hover.youtube{
  background:#ff0000;
}
.sci li a:hover.instagram{
  background:#e4405f;
}

.sci li a .fa{
  transition: 0.25s;
  pointer-events: none;
}
.sci li a:hover .fa{
  color:#fff;
  transform: scale(1.5) translateZ(50px);
}

.js-tilt-glare{
  border-radius: 10px;
}

/*to top*/
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#49497e;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

/*search*/
.search {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 4rem;
  margin-left: 40px;
  padding: 10px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__input {
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}
.search__input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--white-color) inset;
}
.search__button {
  width: 36px;
  height: 36px;
  background-color: #49497e;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__icon, .search__close {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__close {
  opacity: 0;
}

/* Search animated */
.show-search {
  width: 100%;
}
.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}
.show-search .search__button {
  transform: rotate(90deg);
}
.show-search .search__icon {
  opacity: 0;
}
.show-search .search__close {
  opacity: 1;
}